@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: hsla(345, 45%, 39%, 1);
  --dark-blue: hsla(233, 37%, 17%, 1);
  --light-blue: hsla(181, 49%, 43%, 1);
  --green: hsla(154, 53%, 57%, 1);
  --cream: hsla(113, 100%, 98%, 1);
}

body {
  @apply font-serif;
}

h3 {
  @apply text-2xl font-bold mt-4 text-blue-950;
}

p {
  @apply py-2 font-serif text-gray-900;
}

a {
  @apply text-cyan-700 hover:text-cyan-500;
}
